.container 
  .form-card.profile-form-card
    .form-header
      span.text-bold = @profile.persisted? ? 'Editar perfil' : 'Novo perfil'
      = link_to "Voltar", profiles_path
    = form_with model: @profile, local: true do |f|
      .form-inputs
        = render "shared/form_errors", f: f
        .form-group
          = f.label :name
          = f.text_field :name, class: "text-input" 
          - if @profile.errors[:name]
            .text-error = @profile.errors[:name].join(', ')
        .form-group 
          = f.fields_for :link do |link_form|
            = link_form.label :url
            = link_form.text_field :url, class: "text-input"
            .text-error = @profile.link.errors[:url].join(', ')
      .form-actions
        = link_to "Cancelar", profiles_path            
        = f.submit "Salvar", class: "btn-primary"

