.profile-card-mini 
  .profile-main
    img.profile-img src=(profile.gh_avatar_url) width="150px"
    strong = profile.name 
  .profile-link
    = link_to link_url(profile.link), target: "_blank" do 
      bi.bi.bi-box-arrow-up-right.me-2
      span = link_url(profile.link)
  .profile-actions  
    a.btn-line-primary.btn-sm href=(edit_profile_path(profile)) 
      i.bi.bi-pencil.me-2
      span Editar
    a.btn-line-primary.btn-sm href=(profile_path(profile)) 
      i.bi.bi-eye.me-2
      span Visualizar

