.container 
  = form_with url: "/profiles/search", method: "get", html: { data: { controller: "search" }, class: "search-form" } do |f|
    .group
      = text_field_tag :q, params[:q], class: "text-input input-lg", placeholder: "Buscar", data: { "search-target": "input", action: "keyup->search#perform focus->search#perform"}, autocomplete: "off"
      button.btn-primary.btn-lg type="submit" name="search"
        i.bi.bi-search    
    .results-list.hidden data-search-target="list"
  - if @profiles.any?
    .profiles-list
      - @profiles.each do |profile|
        = render profile
  - else 
    .no-profile-card 
      .icon 
        i.bi.bi-emoji-frown
      .title Nenhum perfil encontrado 
      a.btn-primary href=(new_profile_path) 
        i.bi.bi-plus-circle.me-2
        span Novo perfil

