.container 
  .profile-card-full
    .profile-header 
      strong = @profile.name
      = link_to "Voltar", profiles_path, class: "btn btn-link btn-sm "
    .profile-main 
      img.profile-img src=(@profile.gh_avatar_url) alt="Github profile avatar" width="250"
      .profile-name = @profile.gh_name
      .profile-username = @profile.gh_username
    .profile-stats
      .stat 
        i.bi.bi-people.text-muted 
        span = @profile.gh_followers
        span.text-muted followers
      .stat 
        i.bi.bi-dot
      .stat 
        span = @profile.gh_following
        span.text-muted following
      .stat 
        i.bi.bi-dot
      .stat 
        i.bi.bi-star.text-muted 
        span = @profile.gh_stars
    .profile-info
      - if @profile.gh_organization.present?
        .info
          i.bi.bi-building 
          span = @profile.gh_organization
      - if @profile.gh_location.present?
        .info
          i.bi.bi-geo-alt 
          span = @profile.gh_location
      .info
        i.bi.bi-git 
        span #{pluralize(@profile.gh_yearly_contributions.to_i, 'Contribuição', plural: 'Contribuições')} no último ano


    .profile-actions 
      a.btn-line-primary.btn-sm href=(rescan_profile_path(@profile)) data-method="post"
        i.bi.bi-arrow-clockwise
        span Re-escanear
      a.btn-line-primary.btn-sm href=(edit_profile_path(@profile)) 
        i.bi.bi-pencil
        span Editar            
      a.btn-line-error.btn-sm href=(profile_path(@profile)) data-confirm="Tem certeza que deseja excluir o perfil #{@profile.name}" data-method="delete"
        i.bi.bi-trash
        span Excluir


