body, html {
  scroll-behavior: smooth;
}

body {
  background-color: $body-bg;
  font-family: 'Poppins', sans-serif;
  color: $text-color;
  font-size: 1rem;
  padding-bottom: 2rem;
}

.btn-primary {
  @include btn;
  background-color: $primary-color;
  color: #fff;
}

.btn-line-primary {
  @include btn;
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;
  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}

.btn-line-error {
  @include btn;
  background-color: transparent;
  border: 1px solid $error-color;
  color: $error-color;
  &:hover {
    background-color: $error-color;
    color: #fff;
  }
}

.btn-lg {  
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: .2rem 1.25rem;
}

.btn-sm {
  font-size: .9rem;
  line-height: 1;
  padding: .15rem .5rem;
  height: 36px;
}

.field_with_errors {
  input {
    border-color: $error-color;
  }
}

.text-input {
  @include text-input;
}

.text-bold {
  font-weight: bold;
}

.text-error {
  color: $error-color;
}

.text-muted {
  color: $gray-500;
}

.input-lg {
  height: 2.75rem;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
}

.form-errors {
  border: 1px solid $error-color;
  color: $error-color;
  border-radius: $default-radius;
  padding: .75rem;

  .title {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  .message {
    font-size: .9rem;
    padding-bottom: .5rem;
  }
  
}

.hidden {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  max-width: $max-container-size;
  margin: 0 auto 2rem;
  padding: 3rem 0;
  border-bottom: 1px solid $text-color;
  .logo-link {
    color: rgba($text-color, .9);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 600;
    width: 100%;
    @include lt-md {
      margin-bottom: 1rem;   
      font-size: 1.2rem;
      justify-content: center;
    }
  }
  @include lt-md {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    padding: 2rem 0;
  }
  @include lt-lg {
    padding: 2rem .75rem;
  }

}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $max-container-size;
  margin: 0 auto;
  @include lt-lg {
    padding: 0 .75rem;
  }
}

.flash {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-radius: $default-radius;

  @include lt-lg {
    padding: 1rem .75rem;
  }

  &.notice {
    background-color: $success-color;
    color: darken($success-color, 40%);
  }
  
  &.alert {
    background-color: $error-color;
    color: lighten($error-color, 50%);
  }

}

.search-form {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 0 auto 2rem;
  .group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;  
    padding: 0 2rem;
  }
  .results-list {
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: $default-radius;
    @include shadow-lg;
    z-index: 10;
    margin-top: .25rem;
    .result {
      width: 100%;
      padding: .5rem .75rem;
      display: flex;
      align-items: center;      
      gap: .25rem;
      border-radius: $default-radius;
      &:hover {
        background-color: $gray-300;
      }
    }
  }
}

.profile-img {
  border-radius: 50%;
  border: 1px solid $gray-300;
}

.profiles-list {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-gap: 1rem;  
  @include gt-xs {
    grid-template-columns: repeat(2, 1fr);
  }
  @include gt-md {
    grid-template-columns: repeat(3, 1fr);    
  }
  @include gt-lg {
    grid-template-columns: repeat(4, 1fr);    
  }
}

.no-profile-card {
  @include paper-card;
  align-items: center;
  .icon {
    font-size: 4rem;
    color: $gray-500;
    margin-bottom: 1.5rem;    
  }
  .title {
    margin-bottom: 1rem;
  }
}

.profile-card-mini {
  @include paper-card;

  .profile-main {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
  }

  .profile-link {
    text-align: center;
    margin: 1.5rem 0;
    text-align: center;
    font-size: .9rem;
    a {
      display: flex;
      align-items: center;
      justify-content: center;  
      gap: .25rem;
    }
  }

  .profile-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .5rem;
    a {
      flex: 1
    }
  }

}

.profile-card-full {
  @include paper-card;

}


.form-card {
  @include paper-card;
  .form-header {
    padding: .5rem .5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray-300;
  }

  .form-inputs {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: .5rem;
    .form-group {
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: .25rem;
      }
    }
  }

  .form-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding: .5rem;
  }
}

.profile-form-card {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.profile-card-full {
  @include paper-card;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;

  .profile-header {
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray-300;
    margin-bottom: 1rem;
  }

  .profile-main {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: .5rem;
    .profile-name {
      font-size: 1.1rem;
      font-weight: bold;
    }
    .profile-username {
      color: $gray-500;
    }
  }

  .profile-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
    .stat {
      display: flex;
      align-items: center;
      gap: .25rem;
    }
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    margin-bottom: 1.5rem;
    .info {
      display: flex;
      align-items: center;
      gap: .25rem;
    }
  }

  .profile-actions {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    @include gt-md {
      flex-direction: row;
    }

    a {
      width: 100%;
      @include gt-md {
        flex: 1;
      }
    }
  }

}