$font-family: 'Poppins', sans-serif;

$body-bg: #eff3f7;
$text-color: #212529;
$primary-color: #212529;
$error-color: #dc3545;
$success-color: #04bfcb;
$gray-300: #d1d5db; 
$gray-500: #6b7280;


$default-radius: .5rem;

$max-container-size: 1120px;
$screen-sm-min: 600px;
$screen-md-min: 960px;
$screen-lg-min: 1280px;
$screen-xl-min: 1920px;

$screen-xs-max: 599px;
$screen-sm-max: 959px;
$screen-md-max: 1279px;
$screen-lg-max: 1919px;
$screen-xl-max: 5000px;
