doctype html
html
  head
    title GhProfileIndexer
    meta content="width=device-width,initial-scale=1" name="viewport" 
    = csrf_meta_tags 
    = csp_meta_tag 
    
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' 
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' 
  body
    = render "shared/header"
    = render "shared/flashes"
    = yield 
